
/* Main Styles */
html {
    position: relative;
    /*for sticky footer */
    min-height: 100%;
    /*for sticky footer */
    min-width: 100%;
}

body {
    margin-bottom: 40px;
    background-color: black;
    color: #C6C6C6;
    font-style: inherit;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
}

.content-container {
    background-color: black;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #C6C6C6, 0 0 25px #C6C6C6, 0 0 5px #C6C6C6;
    padding: 0px;
}

.content-container2 {
    background-color: black;
    /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); */
    box-shadow: 1px 1px 2px #C6C6C6, 0 0 25px #C6C6C6, 0 0 5px #C6C6C6;
    padding: 0px;
    margin: 15px 0;
}

.content-container2:hover {
    box-shadow: 1px 1px 2px #00FF7F, 0 0 25px #00FF7F, 0 0 5px #00FF7F;
} 

.content-container3 {
    background-color: black;
    border-radius: 5px;
    padding: 0px;
    margin: 20px 0 10px 0;
    box-shadow: 1px 1px 2px #C6C6C6, 0 0 25px #C6C6C6, 0 0 5px #C6C6C6;
}

.content-container4 {
    background-color: black;
    /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); */
    box-shadow: 1px 1px 2px #C6C6C6, 0 0 25px #C6C6C6, 0 0 5px #C6C6C6;
    padding: 0px;
    margin: 20px 10px;
}

.content-container4:hover {
    box-shadow: 1px 1px 2px #00FF7F, 0 0 25px #00FF7F, 0 0 5px #00FF7F;
}


.main {
    margin-top: 78px;
    margin-bottom: 78px;
}

h2 {
    padding: 10px;
    font-size: 20px;
    border-style: dashed;
    border-color: #00FF7F;
}

.description {
    font-size: 17px;
    padding: 10px;
}


.ProfLinks {
    font-size: 35px;
    font-family: 'Orbitron', sans-serif;
    -webkit-text-stroke: 0.5px #000022;
    color: #FFF8DC;  
    text-shadow: 1px 1px 2px #FFF8DC, 0 0 25px #FFF8DC, 0 0 5px #FFF8DC;
    padding: 5px;
    margin: auto;
   
}


#hamburger {
    background-color:#FFFFF4;
    border-radius: 50%;
    box-shadow: 1px 1px 2px #FFFFF4, 0 0 25px #FFFFF4, 0 0 5px #FFFFF4;
    border-color: #FFFFF4;
    outline-color: #FFFFF4;
    

}



/* Content Styles */
#aboutImage {
    height: 200px;
    width: 200px;
    max-width: 100%;
    max-height: 50%;
    margin: 20px;
    border-style: solid;
    border-radius: 50%;
    border-color: #FFFFF4;
    box-shadow: 1px 1px 2px #C6C6C6, 0 0 25px #C6C6C6, 0 0 5px #C6C6C6;
}
.imageSize {
    max-height: 700px;
    max-width: 900px;
    height: 100%;
    width: 100%;
    padding: 10px;
}


.Links {
    display: inline-block;
    font-family: 'Orbitron', sans-serif;
    /* width: 100%; */
}

.SiteLink {
    float: left;
    padding: 10px;
}

.CodeLink {
    /* float: right; */
    padding: 10px;
}

.aboutInfo {
    margin: 0 auto;
    padding: 5px;
   
}

#triangle-bottomleft {
    width: 0;
    height: 0;
    border-top: 300px solid #C6C6C6;
    border-right: 300px solid transparent;
}

/* Footer */
footer {
    background-color: #002266;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    /*vertically centers */
}

.footerText {
    color: #C6C6C6;
    font-size: 12px;
}


.Parent {
    position: relative;
    
}

.Children {
    position: absolute;
}

/* Colors */
.colors{
    color: #FFFFF4;
    color: #EFA7A7;
    color: #A4BAD6;
    color: #B1DDCF;
    color: #C6C6C6;
    color: #FF8C00;

    color: #002266;
    color: #001133;
    color: #000022;
}

