/*Main Styles*/

#colors {
    color: #DBC38F;
    /*PALE GOLD*/
    color: #FF7133;
    /*ORANGE (CRAYOLA)*/
    color: #BE3231;
    /*INTERNATIONAL ORANGE (GOLDEN GATE BRIDGE)*/
    color: #FFEB32;
    /*BANANA YELLOW*/
    color: #FFFFED;
    /*IVORY*/
}

html,
body {
    height: 100vh;
    /* overflow: hidden; */
    position: relative;
 
}

body {
    height: 100%;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
    line-height: 1.5;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

canvas { 
    position: absolute;
    bottom: 0;
    /* left: 0; */
    height: 100vh;
    width: 100%;
    z-index: -1;
    display: block;
}

.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    /* padding-bottom: 100px;  */
    /* height of your footer */
}

/*Card Styles */
/* .card {
    box-shadow: 0 4px 8px 0 rgba(255,255,255,0.5);
    transition: 0.3s;
    width: 40%;
    height: 400px;
    background: #FF7133;
    border: 5px solid #BE3231;
    border-radius: 25px;
} */
  
/* .card:hover {
  box-shadow: 0 8px 16px 0 rgba(255,255,255,0.7);
} */
  
.card-container {
  padding: 2px 16px;
}

.card-image {
    width: 100%;
    height: 80%;
    /* border-radius: 25px; */
}

/* .card-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #FF7133;
    border: 5px solid #BE3231;
    border-radius: 50px;
    
    
}

.card:hover .card-overlay {
    opacity: 0.7;
} */

.card-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.intro-container {
    padding-top: 3.5em;
    margin-top: 3.5em;
}

.intro-message {
    color: #fff;
    font-family: 'Bangers', cursive;
    font-size: 50px;
}

.intro {
    font-family: 'Bangers', cursive;
    font-size: 35px;
    color: #FF7133;
}

.intro-emoji {  
    -webkit-text-stroke: 1px #FF7133;
    text-shadow:
        -1px -1px 0 #BE3231,
        3px 3px 0 #BE3231,  
        2px 3px 0 #BE3231,
        2px 2px 0 #BE3231,
        2px 2px 0 #BE3231;
}

.portfolio-btn {
    text-decoration: none;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
    background: #FF7133;
    border: 5px solid #BE3231;
    border-radius: 50px;
    font-family: 'Bangers', cursive;
    font-size: 35px;
    padding: 5px;
}

.portfolio-btn:hover {
    
    background: #BE3231;
}

.intro-top {
    /* float: left; */
}

.title {
    font-size: 35px;
    /* line-height: calc(20px + 20vh); */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
    text-align: center;
    animation: blink 8s infinite;
    -webkit-animation: blink 8s infinite;
}

.sheet {
    background: linear-gradient(to left, #FF7133, #BE3231);
    border: 5px solid #BE3231;
    border-radius: 50px;
    padding: 10px;
    /* margin-top: 50px; */
    display: inline-block;
    text-align: center;
    width: 500px;
}

.resume-container {
    padding-bottom: 100px;
}

.pdf-style {
    width: 65%;
    height: 1200px;
    border: 5px solid #BE3231;
    border-radius: 50px;
}

.hide-resume {
    display: none;
}

#pro-pic {
    height: 200px;
    width: 150px;
    margin: 5px;
    float: left;
    border: 5px solid #FF7133;
    border-radius: 25px;
}

#about-content {
    font-size: 16px;
    padding: 0 20px;
    padding-bottom: 20px;
    padding-top: 5px;
}

.clearfix:before,.clearfix:after {
    content: "";
    display: block;
    clear: both;   
}

@-webkit-keyframes blink {

    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        /*     color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
    }
}

@keyframes blink {

    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        /*     color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
    }
}

p {
    color: #FFFFED;
    margin: 0;
    padding: 15px 0;
}

.nav {
    background-image: linear-gradient(to left, #FF7133, #BE3231);
    border: 1px outset #FF7133;
    border-width: 0 0 6px 0;
    list-style: none;
    margin: 0;
    padding: 0; 
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 3;
}

.nav li {
    display: inline;
}

.nav a {
    color: #fff6a9;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-family: 'Bangers', cursive;
}

#logo {
    height: 50px;
    width: 50px;
    float: left;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover ,li a:focus {
    text-shadow:
        0 3px 20px red,
        0 0 20px red,
		0 0 10px orange,
		4px -5px 6px yellow,
		-4px -10px 10px yellow,
		0 -10px 30px yellow;
	animation: 2s Blazing infinite alternate linear;
}

.nav li a.active {
    text-shadow:
        0 3px 20px red,
        0 0 20px red,
		0 0 10px orange,
		4px -5px 6px yellow,
		-4px -10px 10px yellow,
		0 -10px 30px yellow;
	animation: 2s Blazing infinite alternate linear;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.btn {
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    display: inline-block;
    margin: 0.5em 0;
}

.btn:hover {
    background: #fff;
    color: black;
}

.flame {
    display: inline-block;
	margin: auto;
    color: #686768;
    font-size: 100px;
	line-height: 100px;
	min-width: 50px;
	outline: none;
    vertical-align: middle;
}

.flame:hover {
    cursor: pointer;
    color: rgb(255, 115, 0);

	text-shadow:
        0 3px 20px red,
        0 0 20px red,
		0 0 10px orange,
		4px -5px 6px yellow,
		-4px -10px 10px yellow,
		0 -10px 30px yellow;
	animation: 2s Blazing infinite alternate linear;
}

.Blazing {
	display: inline-block;
	margin: auto;
    color: rgb(255, 115, 0);
    font-size: 100px;
	line-height: 100px;
	min-width: 50px;
	outline: none;
    vertical-align: middle;
    
	text-shadow:
        0 3px 20px red,
        0 0 20px red,
		0 0 10px orange,
		4px -5px 6px yellow,
		-4px -10px 10px yellow,
		0 -10px 30px yellow;
	animation: 2s Blazing infinite alternate linear;
}

@keyframes Blazing {
	0%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 0 10px orange,
		0 0 0 yellow,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		4px -10px 10px yellow; }
	25%   { text-shadow: 0 3px 20px red, 0 0 30px red,
		0 0 20px orange,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		3px -10px 10px yellow,
		-4px -15px 20px yellow; }
	50%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 -5px 10px orange,
		-2px -5px 5px yellow,
		3px -10px 10px yellow,
		-4px -15px 20px yellow,
		2px -20px 30px rgba(255,255,0,0.5); }
	75%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 -5px 10px orange,
		3px -5px 5px yellow,
		-4px -10px 10px yellow,
		2px -20px 30px rgba(255,255,0,0.5),
		0px -25px 40px rgba(255,255,0,0)}
	100%   { text-shadow: 0 3px 20px red, 0 0 20px red,
		0 0 10px orange,
		0 0 0 yellow,
		0 0 5px yellow,
		-2px -5px 5px yellow,
		4px -10px 10px yellow; }
}

.contact-list {
    list-style: none;
    padding: 0;
    text-align: left;
    
}

.contact-list li a {
    color: #fff6a9;
    letter-spacing: 0.05em;
    text-decoration: none;
    font-family: 'Bangers', cursive;
    font-size: 35px;
}

#email-link {
    font-family: 'Bangers', cursive;
    color: #fff6a9;
    letter-spacing: 0.07em;
    font-size: 30px;
}

.contact-logo {
    float: left;
    height: 48px;
    width: 48px;
    padding-right: 10px;
}

.contact-list li a:hover {
    border-bottom: 5px solid #FF7133; 
}




footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* height: 2.5rem; */
    background-image: linear-gradient(to left, #FF7133, #BE3231);
    border: 1px inset #FF7133;
    border-width: 6px 0 0 0;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 3;
}

footer a {
    text-decoration: none;
    
}

ion-icon {
    height: 50px;
    width: 100px;   
    color: #fff6a9;    
}

ion-icon:hover {
    color: #FF7133;
    
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    visibility: hidden;
    width: 120px;
    background-color: #BE3231;
    color: #fff6a9;
    text-align: center;
    /* border: 5px solid #BE3231; */
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 75px;
    left: 45%;
    margin-left: -60px;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 45%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: #BE3231 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #696768; 
  border-radius: 10px;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #BE3231; 
}
